html {
   
}

.bg1{
    background-color: black;
    padding-top: 100px;
}

h1 /* Name/ */
{
    
    background: black;
    color: white;
    font-family: "bebas neue", sans-serif;
    font-size: 224pt;
    line-height: 195pt;
    margin: 0 auto;
    padding-left: 20px;
    text-align: center;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 800px;
    letter-spacing: -3px;
    border: 5px solid white;
}

h2/* heading/tagline */
{
    
  background: black;
    color: white;
    font-family: "bebas neue", sans-serif;
    font-size: 36pt;
    line-height: 46pt;
    margin: 0 auto;
    padding-left: 20px;
    max-width: 800px;
}

p /* Body/paragraph text*/
{
    background: black;
    color: white;
    font-family: "Source sans pro" ;
    font-size: 8pt;
    line-height: 12pt ;
    max-width: 800px;
    padding: 2em 2em 4em;
    padding-left: 190px;
}

.bb1
{
    position: inherit;
    z-index: -1;
    padding-bottom: 25px;
    padding-top: -10px;
    padding-left: 90px;
    max-width: 60%; /* 60% width of screen!! NOT 60% size of original */
        padding-bottom: 150px;
}

.worktitle{
    padding-top: 130px;
    font-size: 136pt;
    line-height: 46pt;
    font-family: "bebas neue"
}


.textblock {
    font-family: "pano", sans-serif;
    font-size: 32px;
    position: absolute;
    bottom:200px;
    right: 20px;
    opacity: 30%;
    color: white;
    padding-left: 0px;
    padding-right: 0px;
    background: none;
}